.inlineFlex {
    display: inline-flex;
    height: 38px !important;
    padding: 1px 0px 0px 10px;
    border: 1px solid #ced4da !important;
    border-radius: 4px;
    background-color: #ffffff;
    background-size: cover;
      font-family: 'Roboto' !important;
    font-size: 16px;
    color: #454545;
    text-decoration: none solid rgb(69, 69, 69);
}